# This file incldules following subjects:
### 1-Variables
### 2-Types of variables
### 3-Print function
### 4-Arithmetic operators
### 5-Boolean operators
### 6-If statement
### 7-Functions
### 8-Sequences (lists, Tuples, Dictionaries)
### 9-Iterations (loops)

In [5]:
x=5
x

5

In [8]:
print (x)

5

In [4]:
# you can assign a certain number of values to the same number of variables
x,y = (1,"hi")  # it is very important that the number of variables equals the number of values

In [5]:
x

1

In [6]:
y

'hi'

In [9]:
type (x) # return the type of the value of the variable

int

In [8]:
type (y)

str

In [10]:
# we can put the value instead of variable in paranthesis 
type (6.1)

float

In [11]:
# the output of types are also functions that return that specific type of a value
float(5)

5.0

In [12]:
int(6.1)

6

In [13]:
str(5)

'5'

In [16]:
str("hi")

'hi'

In [17]:
bool(0)

False

In [18]:
bool(x)

True

In [22]:
bool('false')

True

In [20]:
bool(False) # keep in mind when python know True and False but not true and false

False

In [31]:
"Dollar" # double qoutation "" and single qoutation '' are identical in python

'Dollar'

In [32]:
'Dollar'

'Dollar'

In [33]:
print ('Dollar')  # or print("George")

Dollar

In [43]:
"I'm fine" # but sometimes we need to use only one, for example if we have a ' inorder to avoid error and confussion
           # we must use "" and vice versa - if we wrote 'I'm fine' we would have got an error

"I'm fine"

In [46]:
'I\'m fine' # another way to do so: you can use \ before '

"I'm fine"

In [44]:
'write may name like "SASAN"'

'write may name like "SASAN"'

In [38]:
x = 10
print (str(x) + ' Dollars') # you can not put different types of variable in one expression
                            # meaning that you can not add a number to a string

10 Dollars

In [48]:
'Red'       'car' #regardless of the space lenght between two strings they stick together

'Redcar'

In [50]:
'Red ' 'car' # there are different ways to put space between two words

'Red car'

In [52]:
'Red'' ''car'

'Red car'

In [56]:
'Red ' + 'car'

'Red car'

In [55]:
print ('Red ' + 'car') # in order to eliminate '' you can use print function

Red car

In [59]:
print ('Red','car') # using comma indicates that two words are sperate and the print fuction sperates them

Red car

In [63]:
print (3,5)

3 5

In [80]:
3 , 5

(3, 5)

In [386]:
type (Out[80])   # numbers within paranthesis are considered to be a tuple

tuple

In [62]:
3,5,'red','car'

(3, 5, 'red', 'car')

In [65]:
1 + 2/2 - 3*5

-13.0

In [68]:
16 % 3  # we use % for reminder operator

1

In [70]:
5 ** 2 # we use ** as power operator

25

In [71]:
y = 5 ** 2
y

25

In [86]:
'Hello, my name is \
Sasan'     # Line continuation : use \ at the end of the line to go to the next line continuing the first line

'Hello, my name is Sasan'

In [94]:
# indexing: you can use [] at the end of a string to return one letter of that
# note that python strts counting from zero not 1
'Friday morning'[0]

'F'

In [99]:
print ('Friday Morning'[1])

r

In [123]:
# structure your code with indentation: a block of code must be separated by enter, 
# except first line of the block, the other lines must be indented to show the belong to that block
# if you write 'print' with indent you are not going to get any output, because python assumes that it is a part of the first block code which is a function

def square_root(x):
    return x**0.5

print (square_root(25))

5.0

In [235]:
Out[155]  # we can call outputs in this file

False

## boolean operators: return True or False
#### 1- logical operators
#### 2- Identity operators
#### 3- comparison operators

In [124]:
# and - or - not : are logical operators
False and True

False

In [125]:
False or True

True

In [141]:
not True

False

In [140]:
not True == False

True

In [128]:
not 5<3

True

In [130]:
6>4 and 5<3

False

In [138]:
# order of combination of logical operators: 1-not, 2-and, 3,or
not type(5)==str or (5/3)==2

True

In [142]:
True and not True or True  # (True and Fales) or True  == False or True == True

True

#### idnetity operators (boolean operators)

In [143]:
10 is 20/20   # we can use is instead of == and is not instead of !=

True

In [145]:
type(10) is int

True

In [152]:
10%2 is not 0

False

#### comparison operators

In [75]:
y <= 10    # signs including == , != , <= , >= , > , < return a boolean (True or False) value

False

In [73]:
y == 25   # if y == 25 then return True else return False

True

In [74]:
y > 10

True

In [155]:
y != 25

False

### If Statement

In [1]:
users_number = float(input("what is user number? "))   # get input from user

what is user number? 15

In [185]:
if users_number > 0:   # in all if statements "colon" : and indent from the second line are so important 
    print (str(users_number) + ' is positive')

15.0 is positive

In [186]:
if users_number > 0:
    print (str(users_number) + ' is positive')
if users_number < 0:
    print (str(users_number) + ' is Negative')

15.0 is positive

In [187]:
# better way for the above code is using else
if users_number < 0:
    print (str(users_number) + ' is Negative')
else:
    print (str(users_number) + ' is no negative')

15.0 is no negative

In [190]:
if users_number < 0:
    print (str(users_number) + ' is Negative')
elif users_number > 0:      # note that it is not elseif it is elif
    print (str(users_number) + ' is positive')
else: 
    print (str(users_number) + ' is zero without sign')

15.0 is positive

In [205]:
# using if statement to define a FUNCTION
def even_or_odd (x):
    if x % 2 == 0:
        return 'even'
    else: 
        return 'odd'

In [210]:
x=int(input("please enter a number: "))
print (str(x) + ' is ' + even_or_odd(x))

please enter a number: 5
5 is odd

In [212]:
# the order of the conditions defines their proiority to execute
if -3 < 5:
    print ('less')
elif -3 < 0:
    print ('negative')    #although -3 is negative, it is not the first priority

less

### Functions

In [233]:
# we want to define this function: f(x) = 2x + 1
def f(x):
    return 2*x + 1

In [234]:
x=int(input("please enter a number: "))
f(x)  # it calls the function

please enter a number: 1

3

In [236]:
# another way to define a function
def g(x):
    y = x ** 2 
    return y

In [237]:
x=int(input("please enter a number: "))
g(x)

please enter a number: 1

1

In [238]:
# using a function in another function
def h(x):
    return f(x) + g (x)

In [240]:
x=int(input("please enter a number: "))
h(x)

please enter a number: 1

4

In [242]:
x=int(input("please enter a number: "))
f(x),g(x),h(x)

please enter a number: 5

(11, 25, 36)

In [250]:
# we can have a function with more than one parameters
def add_function(x1,x2):
    result = x1 + x2
    return result

In [251]:
x1=int(input("please enter first number: "))
x2=int(input("please enter second number: "))
add_function(x1,x2)

please enter first number: 5
please enter second number: 6

11

In [252]:
# another way of using function to give value to parameters
add_function(3,5)    # or add_function(x1=3,x2=5)

8

#### built in functions: are functions that are already in pyhton and you do not need to define it

In [253]:
type ('Sasan')

str

In [259]:
int(15.5)  # float() , str()

15

In [260]:
max(2,3,4) # min

4

In [264]:
abs(-5)

5

In [267]:
sum([2,3,4]) # unlike max and min the input needs to be a list in []

9

In [268]:
round(3.555,2)

3.56

In [270]:
pow(2,10) # power function

1024

In [274]:
len("Sasan") # counts the number of characters in a string

5

In [275]:
# there are a lot other built in functions in python and you can search them

### list

In [309]:
participants_list = ['John', 'Leila', 'Gregory', 'Cate']
participants_list

['John', 'Leila', 'Gregory', 'Cate']

In [310]:
'Friday morning'[0]    #remember indexing

'F'

In [383]:
type(participants_list)   # type (object) => returns the type of the object, so list is an object like variable's value

list

In [311]:
participants_list[1]   # Same logic as above, we can extact some specific elemets from a list

'Leila'

In [312]:
participants_list[-1]  # we count from the last element of the list, starting from -1, then -2, -3 ....

'Cate'

In [313]:
participants_list[-2]

'Gregory'

In [314]:
# we can also change the element of the list
participants_list[-1] = 'Maria'
participants_list

['John', 'Leila', 'Gregory', 'Maria']

In [315]:
# we might need to eliminate one element of the list
del participants_list[2]
participants_list

['John', 'Leila', 'Maria']

In [316]:
# Methods
# Object     .     method()
# list       .     methods applicable for lists
# . is called dot operator whic calls on or invoke a certain method
# see the below example . each list is an object

In [52]:
# methods are acting like functions
# we have built in methods
#append works the opposite way of del
participants_list = ['John', 'Leila', 'Gregory', 'Cate']
participants_list.append('Rose')
participants_list

['John', 'Leila', 'Gregory', 'Cate', 'Rose']

In [35]:
# extent method
participants_list = ['John', 'Leila', 'Gregory', 'Cate']
participants_list.extend(['Rose','Sam'])
participants_list

['John', 'Leila', 'Gregory', 'Cate', 'Rose', 'Sam']

In [338]:
participants_list = ['John' , 'Leila', 'Gregory', 'Cate']
participants_list

['John', 'Leila', 'Gregory', 'Cate']

In [339]:
print ('The first element of the list is ' + participants_list[0] + '.')

The first element of the list is John.

In [341]:
len(participants_list) #there are lots of similarities between text and lists, for example len is a function for both , or using[i] we can have access to ith element

4

In [342]:
len(['John', 'Leila', 'Gregory', 'Cate', 'Rose'])

5

In [344]:
# sometime we nee to extract a slice of the list
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
participants_list[1:3]  #  1 <= elements position < 3

['Leila', 'Gregory']

In [345]:
# if we need to slice from the first element there is no need to write the first index number
participants_list[:3]

['John', 'Leila', 'Gregory']

In [347]:
# if we need to slice from a middle element to the last there is no need to write the last index
participants_list[3:]

['Cate', 'Rose']

In [349]:
# returns the parmeteres whose indexes are  -4 <= index < -2
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
participants_list[-4:-2]

['Leila', 'Gregory']

In [350]:
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
participants_list[-4:]

['Leila', 'Gregory', 'Cate', 'Rose']

In [363]:
# index method returns the index of an specific parameter in a list
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
participants_list.index('Gregory')

2

In [364]:
# join several lists together
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
newcomers_list = ['Joshua', 'Brittany']
joined_group_list = [participants_list , newcomers_list]
joined_group_list

[['John', 'Leila', 'Gregory', 'Cate', 'Rose'], ['Joshua', 'Brittany']]

In [369]:
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
newcomers_list = ['Joshua', 'Brittany']
participants_list.append(newcomers_list)
participants_list

['John', 'Leila', 'Gregory', 'Cate', 'Rose', ['Joshua', 'Brittany']]

In [373]:
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
newcomers_list = ['Joshua', 'Brittany']
participants_list.extend(newcomers_list)
participants_list

['John', 'Leila', 'Gregory', 'Cate', 'Rose', 'Joshua', 'Brittany']

In [376]:
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
newcomers_list = ['Joshua', 'Brittany']
joined_group_list = participants_list + newcomers_list
joined_group_list

['John', 'Leila', 'Gregory', 'Cate', 'Rose', 'Joshua', 'Brittany']

In [380]:
# sort data alphabetically A to Z or number smalles to biggest
participants_list = ['John', 'Leila', 'Gregory', 'Cate', 'Rose']
participants_list.sort()
participants_list

['Cate', 'Gregory', 'John', 'Leila', 'Rose']

In [382]:
# sort Z to A or biggest to smallest
number_list = [1, 2, 3, 4, 5, 6]
number_list.sort(reverse=True)
number_list

[6, 5, 4, 3, 2, 1]

### Tuples

In [385]:
# Tuples are another type of data sequances
# difference between tuples and lists: 
# tuples are immutable and some methods such as append or some commands like del are not applicable for tuples
# tuples' elements are placed within paranthesis but not brackets.

In [387]:
x_tuple = (40 , 41, 42)
x_tuple

(40, 41, 42)

In [388]:
x_tuple = (40 , 41, 42)
type(x_tuple)   # tuples are also objects, simillar to lists

tuple

In [390]:
x_tuple = 40, 41, 42   # Tuples are the default sequences in python
x_tuple

(40, 41, 42)

In [391]:
x, y = 1, 'hi'   # Tuple assignment
y

'hi'

In [2]:
x_tuple = (40 , 41, 42)  # like lists, we can extract parameters by their indexes
x_tuple[0]

40

In [4]:
x_tuple = 40 , 41, 42, 43, 'hi' 
x_tuple[-3:]

(42, 43, 'hi')

In [6]:
x = 40, 41, 42  # you can combine to tuples with each other by using +
y = 'hi', 'bye'
tuple_1 = x + y
tuple_1

(40, 41, 42, 'hi', 'bye')

In [7]:
x = 40, 41, 42  # you can create a list whose parameters are tuples
y = 'hi', 'bye'
list_1 = [x, y]
list_1

[(40, 41, 42), ('hi', 'bye')]

In [12]:
# tuples are very useful when we are eealing with comma seperated values
# we can use split method to extract different values seperated by comma in an string format
(name, age) = "Sasan,35".split(',')  # note that if we had "Sasan-35" we have to write split('-')
print(name)
print(age)

Sasan
35

In [16]:
# tuples can be used for functions that have more than one return
# the below function gets the width and length and then return the area and perimeter
def rectangle_area_perimeter(x,y):
    Area = x * y
    Perimeter = 2*x + 2*y
    print ('Area and Perimeter:')
    return (Area, Perimeter)

In [92]:
x = float(input("please enter the length:"))  # if you don not use float you will get error because input value is string by default and can't be used in calculations
y = float(input('please enter the width:'))
rectangle_area_perimeter(x,y)

please enter the length:12
please enter the width:1
Area and Perimeter:

(12.0, 26.0)

In [94]:
# we can change the type of sequences to other types
x_list = [1,2,3]
x_tuple = tuple(x_list)
x_tuple

(1, 2, 3)

### Dictionaries

In [23]:
# each parameter of a dictionary is a key-value pair
# keys are immutable: number, string, tuple
# values are every objects: number, string, tuple, set, list, dictionary
# Dictionary = {key:value}
dict_1 = {'key1':"Cat", (5,4):[1,2], 'k':(4,5), 20:{'k1':12, 'k2':60}}

In [89]:
b# like strings, lists, and tuples we can use index to reach values,
# but instead of number as index we must use their keys
family_dict = {'Fahter': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}
family_dict['Mother']

'Pari'

In [27]:
# add a key-value pair to our dictionary
family_dict = {'Fahter': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}
family_dict['Sister'] = 'Paria'
family_dict

{'Fahter': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina', 'Sister': 'Paria'}

In [28]:
# change the value of a key
family_dict = {'Fahter': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}
family_dict['Brother'] = 'Sasan'
family_dict

{'Fahter': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sasan'}

In [30]:
# as mentined some values can be other objects like list
family_dict = {'Parents': ['Ehsan', 'Pari'] , 'Brother': 'Sina'}
family_dict['Parents']

['Ehsan', 'Pari']

In [31]:
# another way to fill a dictionary
family_dict = {}
family_dict['Father'] = 'Ehsan'
family_dict['Mother'] = 'Pari'
family_dict['Brother'] = 'Sina'
print (family_dict)

{'Father': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}

In [43]:
# another way - beside indext - to reach the value : get method
family_dict = {'Father': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}
family_dict.get('Father')  # similar to family_dict['Father']

'Ehsan'

In [46]:
# when an object does not exist python returns "None"
family_dict = {'Father': 'Ehsan', 'Mother': 'Pari', 'Brother': 'Sina'}
print (family_dict.get('Sister'))

None

### Range

In [ ]:
# Unlike list, tuples, dictinaries, ... Range is not an object
# range is a function that creates a sequence of integers called range
# range is both a function and an object called range

In [81]:
# range(start, stop, step) 
# step value is optional by default is 1
# start value is optional by default is 0
# stop value is required and not optional
# very important: stop value is not in our range
x = range (10) 
x

range(0, 10)

In [82]:
x_range = range (0, 10, 2)  # range is both function and object such as str, int or other variable types
type (x)

range

In [84]:
x_range = range (0, 10, 2) # if you want to show the elements of a range you
x_list = list(x)
x_list

[0, 2, 4, 6, 8]

In [87]:
x_range = range (0, 10, 2) 
x_set = set(x)
x_set

{0, 2, 4, 6, 8}

In [91]:
x_range = range (0, 10, 2) 
x_tuple = tuple(x)
x_tuple

(0, 2, 4, 6, 8)

### Iteration - loops

In [7]:
# for loop
# iteration is the ability to execute a certain code repeatedly
even_list = [0, 2, 4, 6, 8, 10]
for i in range(len(even_list)):  # very important: using len function and index instead of "each element in the object"
    print (even_list[i])
    i= i + 1   # even if we do not do incrementing python does it automatically

0
2
4
6
8
10

In [8]:
# another way
even_list = [0, 2, 4, 6, 8, 10]
for e in even_list:   # using the element itself in the list
    print (e)

0
2
4
6
8
10

In [9]:
# if we want to write the in a row horizontally not vertically
even_list = [0, 2, 4, 6, 8, 10]
for e in even_list: 
    print (e, end = '--') # this "end = 'something'" determines something that can be between our elements

0--2--4--6--8--10--

In [76]:
# While loop
i = 0
while i <= 10:   # be very careful about your conditions to avoid infinite loop and crashing your computer
    print (i, end = ' ')
    i = i + 2     # incrementing : is important in while unlike for
                # another way : i += 2

0 2 4 6 8 10

In [4]:
# using conditional statement and loops together
for n in range(0,11,1):
    if n%2 == 0:
        print (str(n) + ' is even.', end = '  ')
    else:
        print (str(n) + ' is odd.', end = '  ')

0 is even.  1 is odd.  2 is even.  3 is odd.  4 is even.  5 is odd.  6 is even.  7 is odd.  8 is even.  9 is odd.  10 is even.

In [10]:
# using loops and if statements in a function
# tha below function gets an sequence input and return the number of even numbers in that sequence
def even_counter (sequence):
    counter = 0
    for n in sequence:
        if n%2 == 0:
            counter += 1 
    return counter

In [16]:
list_1 = [2, 15, 22, 7, 0]  # sequence can be al list
even_counter(list_1)

3

In [14]:
tuple_1 = (2, 15, 22, 7, 0) # sequence can be a tuple
even_counter(tuple_1)

3

In [20]:
# iterating over a dictionary
# as mentioned before dictionary is simillar to list our tuple with this difference 
# that instead of index numbers we have defined our indexes by keys tha could be numbers or strings
# so in order to iterate over a dictionary we must use for "each element" in "dictionary"  : Dictonary[element]

In [32]:
def bill_calculator (menu, order):
    money_spent = 0
    for element in menu:    # you can also write: for element in order:
        money_spent = money_spent + menu[element] * order[element]
    return money_spent

In [33]:

menu_price_dict = {"french fries" : 3,
                  "hamburger" : 5,
                  "Coke" : 2,
                  "ice cream" : 1.5}
customer_order_dict = {"french fries" : 1,
                  "hamburger" : 1,
                  "Coke" : 1,
                  "ice cream" : 1}
print ('Your total bill is $'+ str(bill_calculator (menu_price_dict, customer_order_dict)))

Your total bill is $11.5

### import modules and their functions that do not exist in pyhton standard library

In [ ]:
# there are four ways to import a module

In [34]:
# math module
# way 1: this procedure import all the existing functions in math module 
import math

In [35]:
# using functions associated with math module : such as sqrt or factorial
math.sqrt(16)

4.0

In [36]:
math.factorial(3)

6

In [37]:
# way 2: if you need only some of the required functions you do not need to import the whole module
from math import sqrt
sqrt(25)   # no need to use math.sqrt

5.0

In [38]:
# way 3: using by experts, rename modules or their functions in order for time saving
from math import sqrt as s  # rename function
s(9)

3.0

In [41]:
import math as m # rename module
m.sqrt(49)

7.0

In [42]:
# way 4: similar to way 1, which imporst all existing functions but this way eliminate writing module_name.function
from math import *
sqrt(36)  # no need to write math.sqrt(36)

# important: this way could be problematic when the same function exists in another module with different action

6.0

In [43]:
# there is a function called help that gives you information about modules or their functions
help(sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [44]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [45]:
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.